ErrorDocument 404 /index.php

        DirectoryIndex index.php.

        <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ /fact-system/index.php/$1 [L,QSA]
        </IfModule>